In [2]:
import pandas as pd
from datetime import datetime

In [3]:
xls = pd.ExcelFile('Annotation_Sheet.xlsx')

dfs = []
for sheet_name in xls.sheet_names:
    df = pd.read_excel('Annotation_Sheet.xlsx', sheetname=sheet_name)
    dfs.append(df)
    
annotation = pd.concat(dfs, join='inner')

FileNotFoundError: [Errno 2] No such file or directory: 'Annotation_Sheet.xlsx'

In [4]:
annotation.shape

NameError: name 'annotation' is not defined

In [4]:
def addvalues(val,data):
    if (val.empty):
        print(1)
    else:
        d = pd.DataFrame(val)
        data = data.append(d)
    return data

In [5]:
data = annotation[annotation["ParticipantID"].isnull()]
data.shape

(9, 15)

In [1]:
#Adding the Start time and end time of the clips as new names with date
val = annotation[annotation["Date"].isnull()]
data = addvalues(val,data)
data.shape
print(data)

NameError: name 'annotation' is not defined

In [7]:
data.shape

(10, 15)

In [8]:
val = annotation[annotation["StartClock"].isnull()]
data = addvalues(val,data)
data.shape

(11, 15)

In [9]:
val = annotation[annotation["EndClock"].isnull()]
data = addvalues(val,data)
data.shape

(12, 15)

In [10]:
annotation = annotation[annotation["Date"].notnull()]
annotation = annotation[annotation["StartClock"].notnull()]
annotation = annotation[annotation["EndClock"].notnull()]
annotation['DateStartTimeClock'] = pd.to_datetime(annotation['Date'].apply(str)+' '+annotation['StartClock'].apply(str))
annotation['DateEndTimeClock'] = pd.to_datetime(annotation['Date'].apply(str)+' '+annotation['EndClock'].apply(str))
print(annotation.shape)

(4294, 17)

In [11]:
annotation[annotation["ActivityLevel1"]==999].count()

ParticipantID                  25
Accel_Waist                    25
Accel_Wrist                    25
Date                           25
Sequence                       25
VideoName                      12
VideoStartClock_camera         12
VideoStartClock_timeanddate    12
StartRunTime                   25
EndRunTime                     25
StartClock                     25
EndClock                       25
ActivityLevel1                 25
ActivityLevel2                 25
ActivityLevel3                 25
DateStartTimeClock             25
DateEndTimeClock               25
dtype: int64

In [12]:
val = annotation[annotation["ActivityLevel1"]==999]
val.head()

,ParticipantID,Accel_Waist,Accel_Wrist,Date,Sequence,VideoName,VideoStartClock_camera,VideoStartClock_timeanddate,StartRunTime,EndRunTime,StartClock,EndClock,ActivityLevel1,ActivityLevel2,ActivityLevel3,DateStartTimeClock,DateEndTimeClock
0,101,101_waist,101_wrist,2018-01-18,1,101_video1,NaN,NaN,00:00:00,00:00:15,16:07:40,16:07:55,999,999,999,2018-01-18 16:07:40,2018-01-18 16:07:55
0,102,102_waist,102_wrist,2018-01-19,1,NaN,NaN,NaN,00:00:00,00:00:15,12:25:20,12:25:35,999,999,999,2018-01-19 12:25:20,2018-01-19 12:25:35
0,103,103_waist,103_wrist,2018-01-22,1,NaN,NaN,NaN,14:15:45,14:16:00,14:15:45,14:16:00,999,999,999,2018-01-22 14:15:45,2018-01-22 14:16:00
0,104,104_waist,104_wrist,2018-01-22,1,NaN,15:03:38,14:56:45,00:00:00,00:00:15,14:56:45,14:57:00,999,999,999,2018-01-22 14:56:45,2018-01-22 14:57:00
0,105,105_waist,105_wrist,2018-01-29,1,NaN,NaN,NaN,00:00:00,00:00:15,14:34:15,14:34:30,999,999,999,2018-01-29 14:34:15,2018-01-29 14:34:30

In [13]:
data = addvalues(val,data)

In [14]:
data.shape

(37, 17)

In [15]:
data.head()

,Accel_Waist,Accel_Wrist,ActivityLevel1,ActivityLevel2,ActivityLevel3,Date,DateEndTimeClock,DateStartTimeClock,EndClock,EndRunTime,ParticipantID,Sequence,StartClock,StartRunTime,VideoName,VideoStartClock_camera,VideoStartClock_timeanddate
257,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,120_waist,120_wrist,1,20,206,2018-03-20,NaT,NaT,10:42:54,00:01:09,NaN,68,10:42:52,00:01:07,120_video2,10:42:13,10:41:45
68,120_waist,120_wrist,1,10,103,2018-03-20,NaT,NaT,10:43:00,00:01:15,NaN,69,10:42:54,00:01:09,120_video2,10:42:13,10:41:45
69,120_waist,120_wrist,1,20,205,2018-03-20,NaT,NaT,10:43:01,00:01:16,NaN,70,10:43:00,00:01:15,120_video2,10:42:13,10:41:45
70,120_waist,120_wrist,1,20,203,2018-03-20,NaT,NaT,10:43:07,00:01:22,NaN,71,10:43:01,00:01:16,120_video2,10:42:13,10:41:45

In [16]:
val = annotation[annotation["ActivityLevel2"]==999]
data = addvalues(val,data)
data.shape

(62, 17)

In [17]:
val = annotation[annotation["ActivityLevel3"]==999]
data = addvalues(val,data)
data.shape

(87, 17)

In [18]:
val = annotation[annotation["ActivityLevel1"].isnull()]
data = addvalues(val,data)
data.shape

(90, 17)

In [19]:
val = annotation[annotation["ActivityLevel2"].isnull()]
data = addvalues(val,data)
data.shape

(93, 17)

In [20]:
val = annotation[annotation["ActivityLevel3"].isnull()]
data = addvalues(val,data)
data.shape

(195, 17)

In [21]:
val = annotation.loc[annotation.ActivityLevel1 == 3]
data = addvalues(val,data)
data.shape

(197, 17)

In [22]:
val = annotation.loc[annotation.ActivityLevel2 == 2]
data = addvalues(val,data)
data.shape

(199, 17)

In [23]:
val = annotation.loc[annotation.ActivityLevel3 == 207]
data = addvalues(val,data)
data.shape

(200, 17)

In [24]:
val = annotation.loc[((annotation.ActivityLevel1 == 1) & (annotation.ActivityLevel2 == 30))]
data = addvalues(val,data)
data.shape

(204, 17)

In [25]:
val = annotation.loc[((annotation.ActivityLevel1 == 2) & (annotation.ActivityLevel2 == 10))]
data = addvalues(val,data)
data.shape

(205, 17)

In [26]:
val = annotation[(annotation.ActivityLevel1 == 2) & (annotation.ActivityLevel2 == 20) & (annotation.ActivityLevel3.isin([201,202,203,204,205,206]))]
data = addvalues(val,data)
data.shape

(289, 17)

In [27]:
val = annotation.loc[((annotation.ActivityLevel1 == 2) & (annotation.ActivityLevel2 == 20) & (annotation.ActivityLevel3.isin([307])))]
data = addvalues(val,data)
data.shape

1

(289, 17)

In [28]:
val = annotation.loc[((annotation.ActivityLevel1 == 2) & (annotation.ActivityLevel2 == 20) & (annotation.ActivityLevel3.isin([301])))]
data = addvalues(val,data)
data.shape

(290, 17)

In [29]:
val = annotation.loc[((annotation.ActivityLevel2 == 10) & (annotation.ActivityLevel1 == 1) & (annotation.ActivityLevel3.isin([201,202,203,204,205,206,301,302,303,304,305,306,307])))]
data = addvalues(val,data)
data.shape

(304, 17)

In [30]:
val = annotation.loc[((annotation.ActivityLevel1 == 1) & (annotation.ActivityLevel2 == 20) & (annotation.ActivityLevel3.isin([101,102,103,104,105,106,107,301,302,303,304,305,306,307])))]
data = addvalues(val,data)
data.shape

(344, 17)

In [31]:
data = data.reset_index(drop=True)
data.shape

(344, 17)

In [32]:
annotation['timedelta'] = annotation['DateEndTimeClock'] - annotation['DateStartTimeClock']
annotation.head()

,ParticipantID,Accel_Waist,Accel_Wrist,Date,Sequence,VideoName,VideoStartClock_camera,VideoStartClock_timeanddate,StartRunTime,EndRunTime,StartClock,EndClock,ActivityLevel1,ActivityLevel2,ActivityLevel3,DateStartTimeClock,DateEndTimeClock,timedelta
0,101,101_waist,101_wrist,2018-01-18,1,101_video1,NaN,NaN,00:00:00,00:00:15,16:07:40,16:07:55,999,999,999,2018-01-18 16:07:40,2018-01-18 16:07:55,00:00:15
1,101,101_waist,101_wrist,2018-01-18,2,101_video1,16:10:28,16:10:21,00:00:50,00:00:56,16:11:11,16:11:17,1,10,102,2018-01-18 16:11:11,2018-01-18 16:11:17,00:00:06
2,101,101_waist,101_wrist,2018-01-18,3,101_video1,16:10:28,16:10:21,00:00:56,00:00:59,16:11:17,16:11:20,1,20,201,2018-01-18 16:11:17,2018-01-18 16:11:20,00:00:03
3,101,101_waist,101_wrist,2018-01-18,4,101_video1,16:10:28,16:10:21,00:00:59,00:01:01,16:11:20,16:11:22,1,10,102,2018-01-18 16:11:20,2018-01-18 16:11:22,00:00:02
4,101,101_waist,101_wrist,2018-01-18,5,101_video1,16:10:28,16:10:21,00:01:02,00:01:06,16:11:23,16:11:27,1,10,102,2018-01-18 16:11:23,2018-01-18 16:11:27,00:00:04

In [33]:
from datetime import timedelta
t = timedelta(days=0,seconds=0,microseconds=0,milliseconds=0,minutes=0,hours=0,weeks=0)
val = annotation.loc[annotation.timedelta < t]
data = addvalues(val,data)
data.shape

(348, 18)

In [34]:
from datetime import timedelta
t = timedelta(days=0,seconds=0,microseconds=0,milliseconds=0,minutes=0,hours=1,weeks=0)
val = annotation.loc[annotation.timedelta > t]
data = addvalues(val,data)
data.shape

(349, 18)

In [35]:
from datetime import timedelta
t = timedelta(days=0,seconds=0,microseconds=0,milliseconds=0,minutes=5,hours=0,weeks=0)
val = annotation.loc[annotation.timedelta > t]
data = addvalues(val,data)
data.shape

(351, 18)

In [36]:
import os
# if file does not exist write header 
if not os.path.isfile('filename.csv'):
   data.to_csv('filename.csv', header='column_names')
else: # else it exists so append without writing the header
   data.to_csv('filename.csv', mode='a', header=False)

In [37]:
annotation.shape

(4294, 18)

In [42]:
annotation['ActivityLevel3'] = annotation['ActivityLevel3'].map({101:'run', 102:'walk', 103:'crawl', 104:'climbup', 105:'climbdown', 106:'ride a ride-on toy and move', 107:'bouncing up and down', 201:'stand still', 202:'stand and move', 203:'transtion from stand to walk', 204:'transition from walk to stand', 205:'transition from sit to stand', 206:'transition from stand to sit', 301:'sit', 302:'lie down', 303:'carried by an adult', 304:'ride a stroller/wagon', 305:'transition from lie down to sit', 306:'transition from sit to lie down', 307:'slide down slide'})

In [43]:
data = annotation.groupby(['ParticipantID','ActivityLevel3'])['ParticipantID'].count()

In [44]:
data = data.unstack()

In [45]:
data

ActivityLevel3,bouncing up and down,carried by an adult,climbdown,climbup,crawl,lie down,ride a ride-on toy and move,ride a stroller/wagon,run,sit,slide down slide,stand and move,stand still,transition from lie down to sit,transition from sit to lie down,transition from sit to stand,transition from stand to sit,transition from walk to stand,transtion from stand to walk,walk
ParticipantID,,,,,,,,,,,,,,,,,,,,
101,NaN,7,1,12,3,4,NaN,4,3,13,2,27,27,4,3,15,7,5,24,72
102,NaN,11,2,4,4,3,2,1,9,10,2,54,36,2,1,5,4,4,26,71
103,NaN,6,6,5,7,3,2,2,NaN,15,NaN,65,39,2,2,13,8,10,21,52
104,1,5,2,3,3,1,3,1,7,9,NaN,22,10,1,2,3,2,3,6,33
105,1,8,3,9,2,2,2,3,3,18,4,62,37,NaN,1,8,4,15,37,78
106,NaN,18,3,5,6,2,1,2,NaN,17,NaN,64,43,2,3,9,7,11,9,45
107,NaN,15,NaN,5,1,3,8,4,NaN,24,2,27,19,4,1,11,6,5,9,19
108,NaN,10,2,2,7,3,1,3,11,25,NaN,52,21,5,3,24,8,17,30,52
109,NaN,17,2,3,5,4,6,2,NaN,13,1,50,32,3,1,14,8,20,39,53
110,NaN,1,NaN,3,5,2,3,1,1,6,1,35,27,2,2,9,8,9,20,36
111,NaN,6,NaN,4,1,1,2,1,2,8,2,32,32,1,1,13,9,8,17,33
112,NaN,1,NaN,4,6,2,3,2,3,18,4,23,12,2,2,17,15,16,24,30
113,4,8,3,4,3,1,7,1,5,22,1,57,18,1,NaN,15,11,25,46,41
114,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,6,NaN,31,17,NaN,NaN,7,7,26,34,27
115,NaN,1,3,5,9,2,4,3,7,16,NaN,18,21,2,2,11,5,3,11,28
116,2,4,3,8,NaN,NaN,4,1,2,10,4,41,13,NaN,NaN,7,6,3,22,42
117,NaN,8,NaN,1,NaN,2,1,1,1,3,NaN,14,8,NaN,1,1,1,8,7,11
118,NaN,1,NaN,2,3,1,2,1,2,6,2,19,10,1,1,6,4,8,7,17
119,NaN,3,NaN,5,1,1,3,3,2,12,2,12,6,1,NaN,8,2,4,8,13
120,NaN,2,NaN,1,2,1,1,1,1,6,1,8,5,1,NaN,5,6,5,7,12
121,3,4,1,4,1,2,5,3,5,17,1,31,16,3,1,11,7,1,16,25
122,NaN,6,NaN,3,1,4,6,2,2,16,2,22,7,4,4,14,11,4,10,30
123,NaN,1,NaN,1,1,1,5,1,3,8,1,9,6,NaN,1,4,5,5,7,8
124,NaN,2,NaN,6,NaN,1,1,2,3,4,4,16,5,1,NaN,5,5,3,8,9

In [46]:
import os
# if file does not exist write header 
if not os.path.isfile('rawannotationactivity.csv'):
   data.to_csv('rawannotationactivity.csv', header='column_names')
else: # else it exists so append without writing the header
   data.to_csv('rawannotationactivity.csv', mode='a', header=False)